nav a{
    text-decoration: none;
    font-size: 1.5rem;
    /* color: rgb(219, 213, 213); */
    color: gray;
    /* background-color: #191919; */
}
.navsestcolor{
    position: fixed;
    top: -30px;
    left: 0;
    bottom: 30%;
    width: 100%;
    height: 20px;
    text-align: center;
    align-content: center;
    padding-bottom: 10%;
    background-color: #353434;
    /* background-color: ; */
    /* Example background color */
    /* padding: 10px 20px;  */
    /* z-index: 1000; */
    /* margin-bottom: 40%; */
    /* margin: 20px 10px; */
    /* z-index: 1000;  */
    /* background-color: #222222; */
}
nav a:hover{
    color: white;
}
.hedericon{
    color: goldenrod;
    font-size: 6rem;
    margin-top: 10px;
    cursor: pointer;
}

.setser{
    display: flex;
    background-color: #2c2b2b;
    border-radius: 4px;
    box-shadow: 1px  0.5px 0.5px 1px #191919;
}
.setser input{
    border: none;
    padding: 7px;
    font-size: 20px;
    outline: none;
    background-color: #2c2b2b;
    color: gray;
}
.setser .seticonser{
    font-size: 25px;
    margin-top: 8px;
    margin-right: 8px;
    color: gray;
}


/* Home page stylle */
.homepage{
    width: 100%;
    /* height: 100vh; */
    /* border-bottom: 2px solid  #191919; */
    box-shadow: 5px 4px 2px 6px #222222;
    background-color: #222222;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-top: 50px;
}
.seticonhome{
    font-size: 30px;
    padding-top: 40%;
}
.seticonhome .seticonhom{
    margin-top: 17px;
    /* margin-left: 10px; */
    z-index: -1;
    margin-right: 60px;
    margin-left: -50px;
    color: rgb(128, 94, 32);

}

.linebox1{
    width: 3px;
    height: 40px;
    border-left: 4px solid goldenrod;
    /* box-shadow: 1px 1px 1px 0px rgb(214, 209, 209); */
    margin-top: 50px;
    z-index: 1;
    margin-right: 50px;
    margin-left: -36px;
}

.colleft{
    padding-top: 14%;
    padding-bottom: 15%;
}

.colleft span{
    color: goldenrod;
    font-size: 5rem;
}
.colleft h1{
    font-size: 4rem;
    font-weight: 300;
    color: whitesmoke;
}
.colleft h2{
    color: whitesmoke;
    font-size: 3rem;
    font-weight: 300;
}
.colleft button{
    margin-top: 10px;
    border: 4px solid goldenrod;
    padding: 10px 20px;
    font-size: 30px;
    border-radius: 10px;
    color: whitesmoke;
}
.colleft button:hover{
    background-color: goldenrod;
}
.colright{
    width: 100%;
    height: 81%;
}

/* AboutSET  */

.aboutset{
    color: whitesmoke;
    font-size: 20px;
    font-weight: bold;
    margin: 40px;
}
.aboutset p b{
    color:goldenrod;
}
.aboutset h1{
    margin-bottom: 30px;
    margin-top: 20px;
}
.aboutset span{
    color: goldenrod;
    padding-left: 10px;
    font-weight: bolder;
    line-height: normal;
}


/* SKILL MY  */


.myskill{
    color: whitesmoke;
    font-weight: bold;
}
.myskill .box{
    width: 100%;
    height: 90%;
    border: 1px solid rgb(46, 97, 110);
    background-color: rgb(111, 116, 114);
    padding: 60px 70px;
    /* box-shadow: 1px 1px 1px 1px gray; */
    border-radius: 10px;
    
}
.myskill .box:hover{
    background-color: rgb(184, 152, 73);
}

.toptext{
    margin-top: 10%;
    margin-bottom: 50px;
    text-align: center;
    color: wheat;

}


.box img{
    padding-bottom: 30px;
    width: 70%;
    margin-left: 20px;
}
.box p{
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}



.setmargsecond{
    margin-left: 11%;
    /* padding-left: 10%; */
}
.setmargthred{
    margin-left: 22%;
}

/* portfolio */

.image-container {
    position: relative;
    width: 300px; /* Adjust width according to your image size */
    height: 400px; /* Adjust height according to your image size */
    overflow: hidden;
  }
  
  .hover-image {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
  }
  
  .text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    color: white;
    font-size: 20px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  
  
  .image-container:hover .text-overlay {
    opacity: 1; /* Show text on hover */
  }

  .texthover{
    padding: 80px 50px;
    display: block;
    text-align: center;
  }
  .text-overlay p{
    font-size: 20px;
  }
  .text-overlay button1{  
     /* margin-top: 10px; */
    border: 4px solid goldenrod;
    background-color: goldenrod;
    /* align-items: center; */
    /* align-content: center; */
    /* margin-left: 40%; */
    /* margin-top: 40px; */
    /* margin-bottom: 50px; */
    padding: 10px 20px;
    font-size: 30px;
    border-radius: 10px;
    color: whitesmoke;
  }


.portfolio{
    color: wheat;
    margin: 80px;
}
.portfolio img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}



.portfolio img:hover{
    position: relative;
    background-color: red;
    cursor: pointer;
    transition: transform 0.3s ease;
    /* z-index: -1; */
}
.portfolio h1{
    text-align: center;
    margin: 50px 20px;
}

.portfolio button{
    margin-top: 10px;
    border: 4px solid goldenrod;
    background-color: goldenrod;
    align-items: center;
    align-content: center;
    margin-left: 40%;
    margin-top: 40px;
    margin-bottom: 50px;
    padding: 10px 20px;
    font-size: 30px;
    border-radius: 10px;
    color: whitesmoke;
}


/* TES testemonel */
.testemonel{
    color: white;
    margin-top: 90px;
}
.colleftest h1{
    font-size: 60px;
    margin-top: 60px;
}
.colleftest p{
    margin-top: 30px;
    font-weight: bold;
    font-size: 20px;
    font-weight: 400;
}
.colleftest p span{
    color: goldenrod;
}
.line h1{
    color: goldenrod;
    font-weight: bolder;
    margin-top: -18px;
}
.colleftest b{
    font-size: 20px;
    font-weight: 400;
}
.colleftest span{
    color: goldenrod;
    font-weight: bolder;
}

.boxtextemonel{
    width: 126%;
    height: 60%;
    background-color: goldenrod;
    border: 1px  solid gray;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    margin-top: 20%;
}
.boxtextemonel img{
    width: 70%;
    height: 100%;
    z-index: -1;
    /* padding: 30px; */
    margin-left: 40px;

}



/* exprince */
.exprince{
    width: 100%;
    height: auto;
    background-color: #222222;
    color: white;
    /* padding: 30px; */
}

.expheading{
    font-size: 5rem;
    padding-bottom: 45px;
    padding-left: 40px;

}

.setexpernce{
    display: flex;
    justify-content: space-between;
}
.devone{
    width: 30%;
    height: 30%;
    letter-spacing: 2px;
    padding: 6px 10px;
    text-align: center;
    background-color: gray;
    font-weight: 300;
    margin-right: 50px;
    border: 1px solid gray;
}
.devtow{
    background-color: goldenrod;
    width: 20%;
    height: 20px;
    margin-right: 30px;
    border-radius: 20px;
    box-shadow: 3px 2px 3px 5px goldenrod;
}
.devtow2{
    background-color: goldenrod;
    width: 10%;
    height: 20px;
    margin-right: 30px;
    border-radius: 20px;
    box-shadow: 3px 2px 3px 5px goldenrod;
}
.devthree h1{
    font-size: 3rem;
    margin-bottom: 30px;
}


.devthree p{
    font-size: 20px;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
    font-family: monospace;
    color: gray;
}

.linebox{
    width: 3px;
    height: 400px;
    border-left: 4px solid wheat;
    /* box-shadow: 1px 1px 1px 0px rgb(214, 209, 209); */
    margin-top: 50px;
    z-index: 1;
    margin-right: 50px;
    margin-left: -36px;
}

.linebox2{
    width: 3px;
    height: 240px;
    border-left: 4px solid wheat;
    /* box-shadow: 1px 1px 1px 0px rgb(214, 209, 209); */
    margin-top: 50px;
    z-index: 1;
    margin-right: 50px;
    margin-left: -40px;
}

  /* CONTACY  PAGE  */

.contactpage{
    /* text-align: center; */
    color: white;
    margin-bottom: 50px;
}
.contactpage2{
    color: white;
    
}
.contactpage2 span{
    color: goldenrod;
    font-size: 3rem;
    display: flex;
    margin: -34px;
}
.contactpage2 h1{
    font-size: 30px;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    justify-content: space-evenly;
    text-align: center;
    padding-top: 40px;

    /* padding-right: 20px; */
}
.contactpage span{
    color: goldenrod;
    padding: 20px;
    align-items: center;
    font-size: 3rem;
    text-align: center;
}
.contactbtnset{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin-top: 7%; */
}
.contactdevone{
    width: 30%;
    /* height: 30%; */
    letter-spacing: 2px;
    padding: 10px 10px;
    text-align: center;
    background-color: #222222;
    margin-right: 50px;
    margin-bottom: 50px;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    border-radius: 10px;
}
.ssetfav{
padding-right: 13%;    
}
.contactdevone h3{
    color: goldenrod;
}
.lastscoll{
    text-align: center;
    color: goldenrod;
    padding-top: 140px;
    padding-bottom: 200px;
}